<?php
		include('tcmodal.php');
		?>
		<div class="only-desktop">
			<div class="download-rcash-icon">
				<a href="#" class="app-button" style="display: none"><img src="css/images/download-rcash.svg" alt="RCash" title="Descarga el acceso directo a RCash" width="125px" height="125px"></a>
			</div>
			<div class="whatsapp-icon wsp_ac">
				<a href="https://wa.me/584127349818">
					<img src="css/images/whatsapp.svg" alt="WhatsApp" title="Atención al Cliente" width="50px" height="50px">
				</a>
			</div>
			
			<div class="decofooter"> </div>
			
			<div class="footer-area">
				<div class="footer-container">
					<div class="footer-top">
						<div class="container">
							<div class="row">
								<!--<div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">-->
								<div class="col-sm-12 col-md-12 col-lg-3 columna1 mt-n4">
									<div class="single-wedge">
										<div class="area-whatsapp mb-2"><!--class="need-help"-->
											<div class="contacto-ws">
												<a href="#" alt="Contacto Whatsapp" class="btn-whatsapp">
													<img class="img-fluid footer-logo" src="<%= logoUrlRapikom %>" alt="Rapikom" class="logo-footer">
												</a>
											</div>
										</div>
										<p class="text-infor" style="padding-top:10px;"><img class="payment-img" src="css/images/payment-2.png" width="85%" alt=""></p>
									</div>
								</div>
								<!--<div class="col-md-6 col-lg-2 mb-md-30px mb-lm-30px">-->
								<div class="col-sm-6 col-md-6 col-lg-2 columna2">
									<div class="single-wedge">
										<h4 class="footer-heading">Beneficios</h4>
										<div class="footer-links">
											<ul>
												<li><a class="open-link" data-link="shop-ofertas" href="#">Ofertas del Día</a></li>
												<li><a class="open-link" data-link="shop-envio-gratis" href="#">Envío Gratis</a></li>
												<li><a class="open-link" data-link="shop-nuevo" href="#">Lo Nuevo</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!--<div class="col-md-6 col-lg-2 mb-md-30px mb-lm-30px">-->
								<div class="col-sm-6 col-md-6 col-lg-2 columna3">
									<div class="single-wedge">
										<h4 class="footer-heading">Servicios</h4>
										<div class="footer-links">
											<ul>
												<li><a href="#" class="open-link" data-link="tu-perfil">Tu Perfil</a></li>
												<li><a href="#" class="open-link" data-link="tus-pedidos">Tus Pedidos</a></li>
												<!--<li><a class="rastrear-pedido" href="#">Rastrea tu Pedido</a></a></li>
												<li><a href="#" class="view-reclamos" data-link="reclamos-list">Reclamos</a></li>-->
											</ul>
										</div>
									</div>
								</div>
								<!--<div class="col-md-6 col-lg-2 mb-md-30px mb-lm-30px">-->
								<div class="col-sm-12 col-md-12 col-lg-2 columna4">
									<div class="single-wedge">
										<h4 class="footer-heading">Información</h4>
										<div class="footer-links">
											<ul>
												<!--<li><a class="open-link" data-link="qs" href="#">Quienes Somos</a></li>
												<li><a class="open-link" data-link="faq" href="#">Preguntas Frecuentes</a></li>-->
												<li><a class="pp" href="#">Políticas de Privacidad</a></li>
												<li><a class="tc" href="#">Términos y Condiciones</a></li>
												<li><a href="https://linktr.ee/rapikom.ve" target="_blank">Asesores Comerciales</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-2 columna5">
									<div class="single-wedge">
										<h4 class="footer-heading ml-4">Síguenos</h4>
										<div class="social-info">
											<div class="footer-links">
											<ul>
												<li>
                                                    <a href="https://www.instagram.com/rapikom.ve/" target="_blank" title="Rapikom en Instagram">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.youtube.com/@rapikomve" target="_blank" title="Rapikom en YouTube">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.facebook.com/rapikom.ve" target="_blank" title="Rapikom en Facebook">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
											</ul>
											</div>
										</div>
									</div>
								</div>
							</div>						
						</div>
					</div>
					<div class="footer-bottom">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 credits">
									<p class="text-infor">Copyright © <%= currentYear %>  Rapikom, C. A.</p>						
									<p class="text-infor">Rif: J-50080323-0</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Area End -->
		</div>


