<div class="only-mobile mobile-footer">
    
    <div class="decofooter"> </div>
    
    <!-- Barra de opciones -->
    <div class="barra-opciones">
        <ul class="opciones-menu">
            <li><a href="#" class="qr-scan"><i class="fa fa-qrcode"></i>Escanea</a></li>
            <li><a href="https://wa.me/584127349818" class="wsp_ac"><i class="icon-Servicio-cliente1"></i>Contacto</a></li>
        </ul>
    </div>
</div>
<!-- Footer Area End -->