		<!-- Mobile Header Section Start -->
		<div class="sticky-nav" style="padding:0px;">
			<div class="mobile-header bg-white d-xl-none pt-10px" style="padding-bottom:0px;">
				<div class="container-fluid">
					<div class="row align-items-center">
						<!-- Header Logo Start -->
						<div class="col mt-n2">
							<div class="header-logo">
								<a href="#" class="gohome"><img class="logo-responsive" src="<%= logoUrlRapikom %>" alt="logo"/></a>
							</div>
						</div>
						<!-- Header Logo End -->
						<div class="col-auto pb-10px">
							<div class="cart-info d-flex align-self-center">
								<button type="button" class="btn btn-rapikom gohome" style="font-size: 12px;">Ir a Rapikom</button>
							</div>
						</div>
					</div>			
				</div>
			</div>
			<!--<div class="header-menu d-xl-none bg-gray">
				<div class="col-lg-12">
					<div class="header-horizontal-menu">
						<ul class="menu-content text-center">
							<li class="ml-n1"><a class="como-comprar-rcash" data-link="vcr" href="#">¿Cómo comprar con RCash?</a></li>								
							<li><a class="preguntas-frecuentes" href="#">Preguntas frecuentes</a></li>
						</ul>
					</div>
				</div>
			</div> -->	
		</div>
		<!-- Mobile Header Section End -->