body {
    background: linear-gradient(to right, #ffecd2, #fcb69f);
}

.search-element {
    position:relative;
    width: 63%;
    margin: 0 auto;
}

.container-custom {
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 80%;
}

.logo-round {
    max-width: 9%;
    border-radius: 50%;
    border: 2px solid #000000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -115%); 
    background-color: white;
}
.banner-img {
    width: 100%;
    border-radius: 10px;
}
.img-logo{
    width: 8%; 
    height: 8%; 
    border-radius: 50%;
}
.category-button {
    background-color: #f84700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    position: relative; 
}

.arrow-icon {
    transition: transform 0.3s ease;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105"; 
    transform: rotate(-90deg); 
    margin-left: 20px;
    position: absolute;
    right: 10px;
}

.category-button[aria-expanded="true"] .arrow-icon {
    transform: rotate(90deg); 
}

.category-text {
    flex: 1;
    text-align: center; 
}

.list-container {
    max-width: 100%; 
    margin: 0 auto; 
}

.state-list, .city-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.state-item, .city-item {
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease, transform 0.3s ease;
    max-width: 150px; 
    text-align: center; 
    position: relative;
    white-space: nowrap; 
}


.state-item.selected, .city-item.selected {
    color: black; 
}

.state-item.selected::after, .city-item.selected::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black; 
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.state-item::after, .city-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.state-item:hover::after, .city-item:hover::after,
.state-item.selected::after, .city-item.selected::after {
    transform: scaleX(1);
}

.card-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.btn-sm {
    font-size: 12px;
    border-radius: 5px;
    height: 30px;
    background-color:#EDEDED;
    color: #000000;
    border: none;
    
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-sm:hover {
    color: inherit;
    text-decoration: none;
}

.btn .fab {
    font-size: 14px; 
    margin-right: 5px; 
    margin-top: 10px;
    
}

.d-flex.gap-2 {
    gap: 10px; 
}


.full-width-btn {
    width:100%;
    max-width: 205px;
    height: 30px;
    margin: 0 auto;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    background-color: #f84700;
    color: #EDEDED;
    font-weight: bold;
}


@media only screen and (max-width:1199px) {
    .container-custom {
        max-width: 100%;
        min-width: 100%;
    }

    .list-container {
        max-width: 100%; 
    }
    .logo-round {
        max-width: 20%;
    }
    .img-logo{
        width: 20%; 
        height: 20%; 
        margin-top: -10px;
    }
    .search-element {
        width: 100%;
    }
    .banner-img {
        width: 100%;
        margin-left: -3px;

    }
}


